
h1 {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;font-size: 16 px; 
    background-image: url(pastel-pink-vignette-concrete-textured-background.jpg);  *
    width: 100%;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-right: 50px;
}

body {
   background-color: rgb(223, 230, 231);background-image: url(grunge-wall-texture.jpg);  
   border: 1px solid black;  background-color: lightblue;
   padding-top: 50px;
   padding-right: 25px;
   padding-bottom: 50px;
   padding-left: 120px;
}

h2 {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;
}

h3 {
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}


video {
display: block;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 20px;
margin-right: 190px;
content: 60 px;
  width: 80%;
}

p {
    text-align: center;  font-family: Arial, Helvetica, sans-serif; font-size: 16px

}
img{ display: block;
padding-top: 30px;
padding-right: 190px;
padding-bottom: 30px;
padding-left: 20px;
margin-right: 20px;
content: 60 px;
  width: 80%;
}

table {
    width:60px;
    height: 170px;
    text-align:center;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 50px;
    border-collapse: collapse;
    tr:nth-child(even) {background-image:url(pastel-pink-vignette-concrete-textured-background.jpg) ;}
}

tr, td ,th {
    border: 1px solid rgb(134, 134, 134);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;
    height: 40px;
}